{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-2">
                <img src="{{ asset('images/kerrial.jpg') }}" class="img-fluid rounded-circle my-2">
            </div>
            <div class="col-12 col-md-6">

                <div class="display-1 mb-3">Hi. </div>
                <div class="lead mb-3">I'm Kerrial Newham and love creating practically useful projects to help people and businesses achieve their objectives.</div>
                <div class="mb-3">
                    I'm a <a target="_blank" href="https://www.linkedin.com/in/kerrialnewham/"> full stack developer</a>, <a target="_blank" href="https://www.youtube.com/channel/UC2e321-ScWmRzLyxBZsKcqw">mentor</a>, presenter and <a target="_blank" href="https://leanpub.com/symfony-6-a-practical-guide">author</a>.
                    I'm passionate about transforming systems into SOLID, efficient, scalable and maintainable programs. <br/>
                </div>

                <div>
                    I have worked with many companies improving & upgrading their systems, using an instant refactoring tool, <a href="https://getrector.com/">Rector</a>.
                    Inspired by Rector, I created <a href="https://javaupgrader.com/">JavaUpgrader</a>, a tool for upgrading Java projects instantly.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

