{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">

                <div class="accordion accordion-flush mb-5" id="accordionExample">
                    <div class="accordion-item border-0 mb-3 shadow-sm">
                        <div class="accordion-header">
                            <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Migrating & Upgrading
                            </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                             data-bs-parent="#accordionExample">
                            <div>

                                <div class="list-group list-group-flush">
                                    <div class="list-group-item">
                                        <div class="mb-3">
                                            I offer migration and upgrade services to my clients, this involves
                                            upgrading from a
                                            programming language version and/or upgrading a framework version.
                                        </div>

                                        Let's be honest, migrating is normally an expensive and time-consuming process,
                                        This
                                        is where I can help, I provide a proven and tested approach to migrating &
                                        upgrading
                                        that will save you time and money.
                                    </div>
                                    <div class="list-group-item">
                                        <div class="nav nav-underline nav-justified" id="pills-tab" role="tablist">
                                            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                               data-bs-target="#pills-home" type="button" role="tab"
                                               aria-controls="pills-home"
                                               aria-selected="true">STAGE ONE - ANALYSIS</a>
                                            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                               data-bs-target="#pills-profile" type="button" role="tab"
                                               aria-controls="pills-profile" aria-selected="false">STAGE TWO -
                                                UPGRADE</a>
                                        </div>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                                 aria-labelledby="pills-home-tab" tabindex="0">
                                                <ul class="mt-3">
                                                    <li class="mb-4">We sign a Non-disclosure agreement (NDA)</li>
                                                    <li class="mb-4">Automated analysis programs are used to find issue
                                                        in your codebase.
                                                    </li>
                                                    <li class="mb-4">You receive, for a one-time pre-payment of 5,000 -
                                                        8,000 EUR, a PDF
                                                        report of found issues and a timeline for fixing them.
                                                    </li>
                                                </ul>
                                                <div class="text-muted">* Please note you are not locked in, after
                                                    receiving the
                                                    analysis report, you can decide if you wish to continue with the
                                                    next stage.
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                                 aria-labelledby="pills-profile-tab" tabindex="0">
                                                <ul class="mt-3">
                                                    <li class="mb-4">I will work in parallel with your team for 20 - 40
                                                        hours per week
                                                        implementing fixes to your codebase.
                                                    </li>
                                                    <li class="mb-4">I start with the smallest and easiest issues, I
                                                        work on a start one -
                                                        finish one basis, this means I create a change and merge it
                                                        immediately on completion, no stale branches.
                                                    </li>
                                                    <li class="mb-4">We can schedule once a month meetings to discuss
                                                        progress, blockers and
                                                        adapt strategy if need be.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="fs-5 mb-3">How much does it cost?</div>
                                        <div>
                                            5,000 - 8,000 EUR one-time payment for the analysis report
                                            120-150 EUR per hour / invoiced weekly or monthly
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item shadow-sm">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Training Day
                            </button>
                        </div>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Need your team to be more aware of code quality and up to date with modern tools that
                                    can improve your teams' productivity?</p>
                                <p>I offer training days for companies, I will cover such topics as clean code (what it
                                    does and doesn't look like), SOLID, PSRs, PERs, Rector, Easy Coding Standards and Phpstan.</p>
                                <p>A 5 hour training day cost 1,000 EUR </p>


                                <div class="list-group list-group-flush">
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Introduction</div>
                                            <div>15 minutes</div>
                                        </div>
                                        <div>
                                            Introduction and agenda overview.
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Approach</div>
                                            <div>15 minutes</div>
                                        </div>
                                        <div>
                                            How to view and deal with criticism and feedback.
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Understanding Clean Code</div>
                                            <div>45 minutes</div>
                                        </div>
                                        <div>
                                            What is clean code? Really, what is SOLID? What does and doesn't it look like?
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Break</div>
                                            <div>10 -15 minutes</div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Introduction to Refactoring & Analysis Tools</div>
                                            <div>45 minutes</div>
                                        </div>
                                        <div>
                                            Explanation and demonstration of Rector, Phpstan and Easy Coding Standards.
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Hands-on Coding Exercises</div>
                                            <div>1 hour</div>
                                        </div>
                                        <div>
                                            Divided into pairs/groups. Coding exercises and refactoring practice.
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Lunch Break</div>
                                            <div>1 hour</div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Best Practices</div>
                                            <div>30 minutes</div>
                                        </div>
                                        <div>
                                            Review of PSRs and common conventions.
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Advanced Refactoring Techniques</div>
                                            <div>30 minutes</div>
                                        </div>
                                        <div>
                                            Introduction to advanced techniques. Demonstration and discussion.
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Q&A Session</div>
                                            <div>30 minutes</div>
                                        </div>
                                        <div>
                                            Open floor for questions and discussion.
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="fw-bold">Wrap-up and Conclusion</div>
                                            <div>15 minutes</div>
                                        </div>
                                        <div>
                                            Summary of key points. Resources for further learning. Feedback collection.
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
