<div class="card border-0 my-4">
    <div class="card-body text-center">
        {% if type == 'success' %}
            <i class="bi bi-check-circle-fill fs-3 text-success mb-2"></i>
        {% elseif type == 'error' %}
            <i class="bi bi-exclamation-triangle-fill fs-3 text-danger mb-2"></i>
        {% else %}
        {% endif %}
        <div>{{ message }}</div>
    </div>
</div>