{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="container">
            <div class="row justify-content-center text-center align-items-center min-vh-80">
                <div class="col-12 col-md-6">
                    <div class="fs-3">{{ 'page-not-found'|trans }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}